body{
 color: black;
 background-color: red;
 margin: 0px;
 font-family:"BBH Sans Bogle",sans-serif ;
 margin-bottom: 100px: ;
}

header{
    border-bottom:solid 2px blue;
    padding: 20px;
    font-size: 32px;
    color: blueviolet;
}

.chamada{
background:green;
padding-bottom: 80px;
display: flex;
 justify-content:center;   
}


.chamada-texto{
 margin-right: 5%;   
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding-left:20px;
    padding-right:20px;
    margin-top: 50px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid red;
}
.categoria h2{
    color:blue;
}